<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="/public/Images/paw.png">
  <title>AdminPanel</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />


  <link
    rel="stylesheet"
    href="https://unpkg.com/animate.css@4.1.1/animate.css"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
    data-tag="font"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font"
  />

  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/admin.css" />
</head>
<body>

        <!-- Header -->
        <%- include('header') %>

        <div class="vdomi-container3">
          <!-- Lista za postovite -->
          <ul id="post-list" class="list">
            <!-- Ciklus za sekoj post -->
            <% posts.forEach(post => { %>
              <!-- Sekoj post e element vo listata -->
              <li class="items">
                <div class="content">
                  <!-- Vadenje na sodrzinata na postovite -->
                  <span><b>Име:</b> <%= post.name %></span>
                  <span><b>Телефон:</b> <%= post.phone %></span>
                  <span><b>Емаил:</b> <%= post.email %></span>
                  <span><b>Тип на милениче:</b> <%= post.pet_type %></span>
                  <span><b>Опис:</b> <%= post.description %></span>
                </div>
                <!-- Vadenje na slikata od postot -->
                  <img src="<%= post.picture %>" alt="Post Image">
                <!-- Kreiranje na dugme za brishenje na sekoj post -->
                <form action="/admin/delete-post" method="post">
                  <!-- Go sodrzi ID na postot -->
                  <input type="hidden" name="postId" value="<%= post.id %>">
                  <button type="submit">Избриши</button>
                </form>
              </li>
            <% }); %>
          </ul>
        </div>

        <!-- Footer -->
        <%- include('footer') %>



</body>
</html>