<!DOCTYPE html>
<html lang="en">

<head>
  <!--Naslov i logo-->
  <link rel="icon" type="image/png" href="/public/Images/paw.png">
  <title>Oglas</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />

  <link rel="stylesheet" href="https://unpkg.com/animate.css@4.1.1/animate.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font" />

  <link rel="stylesheet" href="/public/css/style.css" />
  <link href="/public/css/oglas.css" rel="stylesheet" />
</head>

<body>
  <div>

    <div class="oglas-container">

      <!-- Header -->
      <%- include('header') %>

        <div class="contact-form4-contact9">
          <div class="thq-section-max-width thq-flex-row contact-form4-max-width">
            <div class="contact-form4-contact9 thq-section-padding">
              <div class="thq-section-max-width thq-flex-row contact-form4-max-width">
                <div class="contact-form4-content thq-flex-column">
                  <div class="contact-form4-section-title thq-card">
                    <div class="contact-form4-content1">
                      <h2 class="contact-form4-text thq-heading-2">
                        <span>Креирај оглас</span>
                      </h2>
                      <span class="contact-form4-text01 thq-body-small">
                        <span>
                          Пополнете ги полињата, атачирајте слика, и притиснете на
                          копчето Креирај оглас. Вашиот оглас за вдомување на
                          милениче ке биде креиран и секој ќе може да го гледа.
                        </span>
                      </span>
                    </div>
                  </div>
                  <!-- Forma za kreiranje post -->
                  <!-- Nosi podatoci do /create-post -->
                  <!-- Site podatoci se zadolzitelni-->
                  <form id="create-post-form" class="thq-card" action="/create-post" method="POST" enctype="multipart/form-data">
                    <div class="contact-form4-input">
                      <label for="name" class="contact-form4-text02 thq-body-small">Вашето име</label>
                      <input type="text" name="name" id="name" placeholder="Внесете ваше име..."
                        class="contact-form4-text-input thq-input" required />
                    </div>
                    <div class="contact-form4-input1">
                      <label for="phone" class="contact-form4-text03 thq-body-small"><span>Вашиот
                          телефон</span><br /></label>
                      <input type="text" name="phone" id="phone" placeholder="Внесете го вашиот телефон..."
                        class="contact-form4-text-input1 thq-input" required />
                    </div>
                    <div class="contact-form4-input2">
                      <label for="email" class="contact-form4-text06 thq-body-small"><span>Вашиот
                          емаил</span><br /></label>
                      <input type="email" name="email" id="email" placeholder="Внесете го вашиот емаил..."
                        class="contact-form4-text-input2 thq-input" required />
                    </div>
                    <label for="pet_type" class="contact-form4-text09 thq-body-small"><span>Тип на
                        милениче</span><br /></label>
                    <!-- Opagjachko meni za tip na mileniche -->
                    <select name="pet_type" id="pet_type" class="contact-form4-select" required>
                      <option value="Маче">Маче</option>
                      <option value="Куче">Куче</option>
                      <option value="Папагал">Папагал</option>
                      <option value="Зајак">Зајак</option>
                      <option value="Хрчак">Хрчак</option>
                    </select>
                    <div class="contact-form4-container">
                      <label for="description" class="contact-form4-text12 thq-body-small">Опис</label>
                      <textarea name="description" id="description" rows="3" placeholder="Внесете опис за миленичето..."
                        class="contact-form4-textarea thq-input" required></textarea>
                    </div>
                    <div class="contact-form4-container">
                      <div class="file-input-wrapper">
                        <input type="file" name="image" id="image" class="contact-form4-text-input thq-input file-input" accept="image/*" required>
                        <label for="image" class="uploadfile file-input-label thq-button-filled thq-body-small">Одберете слика</label>
                      </div>
                    </div>
                    <!-- Dugme koe ja nosi formata do serverot -->
                    <button type="submit" class="contact-form4-button thq-button-filled"><span
                        class="thq-body-small"><span>Креирај оглас</span></span></button>
                  </form>
                </div>
              </div>
            </div>
          </div>


          <div class="oglas-container1">
            <!-- Lista koja ke gi sodrzi oglasite -->
            <ul id="post-list" class="list">
              <!-- Proverka dali ima postovi vo listata -->
              <% if (posts && posts.length > 0) { %>
                <!-- Ciklus za sekoj post -->
                <% posts.forEach(post => { %>
                  <li class="items">
                    <div class="content">
                    <!-- Forma za editiranje -->
                    <!-- ispraka podatoci do edit-post zaedno so id na posto-->
                    <form action="/edit-post/<%= post.id %>" method="POST" enctype="multipart/form-data" class="edit-form" data-post-id="<%= post.id %>" enctype="multipart/form-data">
                      <label for="name<%= post.id %>">Име:</label>
                      <input type="text" name="name" value="<%= post.name %>" required>
                      <label for="phone<%= post.id %>">Телефон:</label> 
                      <input type="text" name="phone" value="<%= post.phone %>" required>
                      <label for="email<%= post.id %>">Емаил:</label>
                      <input type="email" name="email" value="<%= post.email %>" required>
                      <label for="pet_type<%= post.id %>">Тип на милениче:</label>
                      <select name="pet_type" required>
                        <option value="Маче" <%= post.pet_type === 'Маче' ? 'selected' : '' %>>Маче</option>
                        <option value="Куче" <%= post.pet_type === 'Куче' ? 'selected' : '' %>>Куче</option>
                        <option value="Папагал" <%= post.pet_type === 'Папагал' ? 'selected' : '' %>>Папагал</option>
                        <option value="Зајак" <%= post.pet_type === 'Зајак' ? 'selected' : '' %>>Зајак</option>
                        <option value="Хрчак" <%= post.pet_type === 'Хрчак' ? 'selected' : '' %>>Хрчак</option>
                      </select>
                      <label for="description<%= post.id %>">Опис:</label>
                      <textarea name="description" rows="3" required><%= post.description %></textarea>
                      </div>
                      <img src="<%= post.picture %>" alt="Post Image">
                      <div class="custom-file-input">
                        <input type="file" name="picture" accept="image/*" id="picture<%= post.id %>" class="file-input">
                        <label for="picture<%= post.id %>" class="uploadfile file-input-label thq-button-filled thq-body-small">Одберете слика</label>
                      </div>
                      <div class="form-actions">
                        <div>
                          <!-- Dugme za editiranje -->
                        <button type="submit" class="editbutton thq-button-filled thq-body-small">
                          <span class="sign-in1-text6">
                            <span>Едитирај</span>
                          </span>
                        </button>
                        </div>
                        <div>
                    </form>
                    <!-- Forma za brishenje -->
                        <form action="/delete-post/<%= post.id %>" method="POST" class="delete-form" data-post-id="<%= post.id %>">
                          <button type="submit" class="delete-button">Избриши</button>
                        </form>
                        </div>
                      </div>
                  </li>
                <% }); %>
              <% } else { %>
                <!-- Ako nema rezultati vo listata -->
                <li class="nopost">Нема резултати</li>
              <% } %>
            </ul>
          </div>

      </div>
      <!-- Footer -->
      <%- include('footer') %>

    </div>
  </div>
    <script src="/public/js/posts.js"></script>
    <script src="/public/js/edit.js"></script>
    <script src="/public/js/delete.js"></script>
</body>

</html>